* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
max-width: 512px;
font-family: sans-serif;
}

header {
    text-align: center;
    color: rgba(0, 0, 0, 0.604);
}

h1 {
    color: black;
}

.spn-header {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.btn {
    width: 22px;
    height: 14px;
    border-radius: 12px;
    margin: 0 16px;
}

.btn:first-of-type {
    background-color: black;
    border: none;
}

.sphere {
    width: 13px;
    height: 13px;
    border-radius: 22px;
}

#first {
    position: relative;
    right: 29px;
    top: 0.5px;
}

#second {
    position: relative;
    right: 38px;
    top: 0.5px;
    color: rgba(0, 0, 0, 0.604);
}

main {
    text-align: center;
    margin-top: 70px;
    overflow: auto;
}

.main-title {
    text-align: start;
    margin-left: 40px;
}

.number {
    font-size: 45px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 26px;
    padding-top: 30px;
    padding-bottom: 36px;
}

.container-2 {
    margin-right: 70px;
    padding-top: 40px;
    margin-left: 30px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.spiegazione {
    margin-top: 22px;
    .percentuale {
        border-radius: 8px;
        background-color: rgba(128, 128, 128, 0.462);
        border: 1px solid rgba(128, 128, 128, 0.06);
        border-width: 4px;
        font-size: 12px;
        }
}

.plan {
    margin-top: 20px;
    .choose {
        color: white;
        border-radius: 8px;
        border: 16px solid rgb(116, 43, 226);
        background-color: rgb(116, 43, 226);
        padding: 0 4rem;
 }
}

.start-list {
    display: flex;
    flex-direction: column;
   padding: 12px;
   gap: 22px;
   align-items: start;
   width: fit-content;
   margin: auto;
   list-style: none;
}

.list-span {
    margin-right: 20px;
}

.containers {
    margin-right: 70px;
    padding-top: 40px;
    margin-left: 30px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    padding-bottom: 40px;
    margin-bottom: 40px;
    background-color: rgb(116, 43, 226);
    color: white;
}

.containerss {
    margin-right: 70px;
    padding-top: 40px;
    margin-left: 30px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    padding-bottom: 40px;
}

.choose-2 {
        color: rgb(116, 43, 226);
        border-radius: 8px;
        border: 16px solid white;
        background-color: white;
        padding: 0 4rem;
}

.percentuale-2 {
    border-radius: 8px;
        background-color: rgb(244, 242, 242);
        border: 1px solid rgba(244, 242, 242, 0.912);
        border-width: 4px;
        font-size: 12px;
        color: black;
}